@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教师注册</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/UI/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/UI/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/UI/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/UI/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/UI/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/UI/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
                      <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>练习生</h1>
                  </div>
                  <p>练习生选课选课管理系统--教师注册</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form class="form-validate">
                    <div class="form-group">
                      <input id="register-username" type="text" name="registerUsername" required data-msg="请输入姓名" class="input-material">
                      <label for="register-username" class="label-material">姓名</label>
                    </div>
                    <div class="form-group">
                      <input id="register-gh" type="text" name="registerGh" required data-msg="请输入工号" class="input-material">
                      <label for="register-email" class="label-material">工号</label>
                    </div>
                    <div class="form-group">
                      <input id="register-password" type="password" name="registerPassword" required data-msg="请输入密码" class="input-material">
                      <label for="register-password" class="label-material">密码</label>
                    </div>
                    <div class="form-group">
                        <button id="register" type="button" name="registerSubmit" class="btn btn-primary">注册</button>
                    </div>
                  </form><small>已注册</small><a href="/Login/TeacherIndex" class="signup">登录</a>
                </div>
              </div>
            </div>
          </div>
            </div>

        </div>
    </div>


    <script src="~/Content/UI/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/UI/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="~/Content/UI/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/UI/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="~/Content/UI/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/UI/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="~/Content/UI/js/front.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#register").click(registers);
            //注册js
            function registers() {
                var userName = $("#register-username").val();
                var pwd = $("#register-password").val();
                var userNum = $("#register-gh").val();
                $.ajax({
                    type: "Post",
                    async: true,
                    url: "/Login/TeacherRegister",
                    data: { userName: userName, pwd: pwd, userNum: userNum },
                    success: function (data) {
                        if (data == "ok") {                          
                            window.location.href = "/Login/TeacherIndex";
                            alert("教师注册成功，请登录！");
                        } else {
                            window.location.href = "/Login/TeacherRegisterIndex";
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>

